body{
    background-image: url("https://1.bp.blogspot.com/-Y2TBmGkP1Qk/VgBv9G8EiuI/AAAAAAAAA-A/EuaExDn7iXUK3tQrvTWbLsXgtHalgbf8ACPcBGAYYCw/s1600/302.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



/*Test*/
div#registro
{
    width: 51%;
	margin: 7% auto;
	background-color: #F3EDED;
    border: 1px solid #ECE8E8;
	border-radius:8px;
	padding: 30px 9px 0px 9px;
    justify-content:center;
    text-align: center; 
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 675px;
}




div#movimiento{
    margin-left: 15%;
}

div#usuario
{
    text-align: center;
}


div#first
{
    text-align: center;
}

div#second
{
    text-align: center;
}

div#aho
{
    text-align: center;
}

div#infobasica
{
    text-align: center;
}
div#infobasica2
{
    text-align: center;
}
div#pai
{
    text-align: center;
}

div#registro label
{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px; 
    text-decoration: none;
}

div#registro input
{
    font-family: sans-serif;
    font-weight: 50;
    font-size: 20px; 
    text-decoration: none;
    border: 1px dotted #8BEB66;
    border-radius: 0;
    -webkit-appearance: none;
}
div#registro select {
    display: block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
   }

input#boton
{
    margin-left: 30%;
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 10px 15px;
    background: #C0EEAE;
    border: 1px solid #6DB84F;
    color: #566B4E;
    border-radius: 60px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px; 
    text-decoration: none;
}


div#HomeWrapper header{
    grid-row: 1/2;
    grid-column: 1/3;
    background-color:rgb(215, 176, 69, 0.7);
    box-shadow: 0px 4px 3px rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0%;
    width: 100%;
}

div#HomeWrapper header ul
{
    display: flex;
    height: 100%;
    align-items:center;
    list-style: none;
    flex-direction: row-reverse;
    padding: 1em;
}

div#HomeWrapper header ul li{
    margin: 0em 1em;
}

div#HomeWrapper a
{
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 5px 5px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px; 
    text-decoration: none;
}