<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Campesinos | Página de Inicio</title>
    <link rel="stylesheet" href="~/css/HomePage.css">
</head>
<body>
    <div id="HomeWrapper">
        <ul>
            <li>
                <a asp-controller="InicioSesion" asp-action="IniciarSesion">Iniciar Sesión</a>
            </li>
            <li>
                <a asp-controller="Registro" asp-action="Registrarse">Registrarse</a>
            </li>
        </ul>
    </div>
</body>
</html>