@model TiendaCampesinos.ViewModels.ListProductViewModel

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Campesinos | Lista de Productos</title>
    <link rel="stylesheet" href="~/css/ListProductos.css">
</head>
<body>
<div id="lista">
<table>
    <thead>
        <tr>
            <th>Nombre del producto</th>
            <th>Imagen del producto</th>
            <th>Peso del producto (gr)</th>
            <th>Precio del producto</th>
        </tr>
    </thead>
    <tbody>
        <ul>
            @foreach (var item in Model.Productos)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NombreProducto)</td>
                    <td><img src="@Html.DisplayFor(modelItem => item.Imagen)" alt="Imagen Producto" width="100" height="100" /></td>
                    <td>@Html.DisplayFor(modelItem => item.PesoNeto)</td>
                    <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                </tr>
            }
        </ul>
    </tbody>
</table>
</div>
</body>
</html>
