@model TiendaCampesinos.Models.UsuarioModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Campesinos | Registro</title>
    <link rel="stylesheet" href="~/css/Registro.css">
</head>
<body>
    <div id="registro">
        <form asp-action="Registrarse" method="POST">
            <label><b>Informacion del usuario</b></label>
            <br />
            <br />
            <div id= "usuario">
                <label asp-for="Username">Usuario</label>
                <input required asp-for="Username"/>
                <br />
                <label asp-for="Password">Contraseña</label>
                <input required type="password" asp-for="Password"/>
            </div>
            <div>
                <br />
                <label asp-for="TipoUsuario"><b>Tipo de Usuario</b></label>
                <div id="movimiento">
                <select name="TipoUsuario" id="Tipo" asp-for="TipoUsuario">
                    <option value="Cliente">Cliente</option>
                    <option value="Campesino">Campesino</option>
                </select>
                </div>
            </div>
            <br />
            <label><b>Información Básica</b></label>
            <div id="infobasica">
                <label asp-for="Nombre">Nombre</label>
                <input required asp-for="Nombre"/>
                <br />
                <label asp-for="Apellido">Apellido</label>
                <input required asp-for="Apellido"/>
                <br />
            </div>
            <div id="infobasica2">
                <label asp-for="Edad">Edad</label>
                <input required type="number" min="18" max="100" asp-for="Edad"/>
                <br />
                <label asp-for="NumeroIdentificacion">Número de Identificación</label>
                <input required type="text" asp-for="NumeroIdentificacion"/>
            </div>
            <br />
            <label><b>Paypal</b></label>
            <div id="pai">
                <label asp-for="CorreoPaypal">Dirección de Correo PayPal</label>
                <input required asp-for="CorreoPaypal"/>
            </div>
            <br />
            <label> <b>Tarjeta crédito</b></label>
            <div>
                <label asp-for="NombreEnTC">Nombre en Tarjeta de Crédito</label>
                <input required asp-for="NombreEnTC"/>
                <br />
                <label asp-for="NumeroTC">Numero de Tarjeta</label>
                <input required type="text" asp-for="NumeroTC"/>
                <br />
                <label asp-for="CVV">Código de Seguridad (CVV)</label>
                <input required type="number" min="0000" max="9999" asp-for="CVV"/>
                <br />
                <label asp-for="FechaCaducidadTC">Fecha de Caducidad</label>
                <input required type="text" asp-for="FechaCaducidadTC"/>

            <br />
            <br />
            <label><b>Cuenta ahorros</b></label>
            <div id="aho">
                <label asp-for="NumeroCA">Número de Cuenta</label>
                <input required type="text" asp-for="NumeroCA"/>
                <br />
                <label asp-for="IdentificacionAsociadaCA">Número de Identificación Asociado</label>
                <input required type="text" asp-for="IdentificacionAsociadaCA"/>
            </div>
            <br />
            <label><b>Información domicilio</b></label>
            <div id="first">
                <label asp-for="Departamento">Departamento</label>
                <input required asp-for="Departamento"/>
                <br />
                <label asp-for="Municipio">Municipio</label>
                <input required asp-for="Municipio"/>
                <br />
            </div>
            
            <div id="second">
                <label asp-for="Direccion">Dirección</label>
                <input required asp-for="Direccion"/>
                <br />
            </div>            
            <div>
                <br />
                <input id="boton" type="submit" value="Finalizar Registro">
            </div>
        </form>
    </div>
</body>
</html>